<h2 class="text-center">Login</h2>
<form method="POST" action="/login?redirect-url={{.}}">
	<input type="text" placeholder="Username" name="nickname" /><br />
	<input type="password" placeholder="Password" name="password" /><br />
	<button>Login</button>	
</form>