<h2 class="text-center">Regist</h2>
<form method="POST" action="/regist?redirect-url={{.}}">
	<input type="text" placeholder="Username" name="nickname" /><br />
	<input type="password" placeholder="Password" name="password" /><br />
	<button>Regist</button>	
</form>