<link href="/css/jquery.treetable.css" rel="stylesheet"/>
<link href="/css/jquery.treetable.theme.default.css" rel="stylesheet"/>

<h2 class="text-center">Hello {{.}}!</h2>
<h3 class="text-center">Jquery Treetable Demo
    <a class="btn btn-link" href="https://github.com/ludo/jquery-treetable">link</a>
</h3>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover treetable">
            <tr data-tt-id="0">
                <td>app</td>
            </tr>
            <tr data-tt-id="1" data-tt-parent-id="0">
                <td>controllers</td>
            </tr>
            <tr data-tt-id="5" data-tt-parent-id="1">
                <td>application_controller.rb</td>
            </tr>
            <tr data-tt-id="2" data-tt-parent-id="0">
                <td>helpers</td>
            </tr>
            <tr data-tt-id="3" data-tt-parent-id="0">
                <td>models</td>
            </tr>
            <tr data-tt-id="4" data-tt-parent-id="0">
                <td>views</td>
            </tr>
        </table>
    </div>
</div>

<!-- <script src="js/app/treetable/treetable-page.js"></script> -->
<script type="text/javascript">
	requirejs(['app/treetable/treetable-page']);
</script>